.reset{
    font-size: 20px;
    font-weight: bold;
}
.nav{
    width: 90%;
    /* position: fixed; */;
    min-width: 1500px;
    height: 7%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: hsl(267, 22%, 18%);
    align-items: center;
    border: 2px solid black;
    margin: 2%;
    border-radius: 15px;
}
.bar-name{
    background-color: transparent;
    color: white;
    outline: none;
    overflow: hidden;
    border: 0;
    font-size: 18px;
}
.nav-item,.reset{
    margin: 16px 10px;
    /* background-color: rgb(27, 90, 64); */
    background-color: transparent;
    color: white;
    outline: none;
    overflow: hidden;
    border: 0;
    font-size: 18px;
    
}
.nav-item:hover,.reset:hover{
    background-color: white;
    color: rgb(27, 90, 64);
    border-radius: 25px;
    cursor: pointer;
}
.nav-item:disabled,.reset:disabled{
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
    border-radius: 25px;
}

.Input{
    width: 150px;

}
.Input:disabled{
    background-color: gray;
    color: darkgray;
    cursor: not-allowed;
}
.nav-components{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}